




/*
     FILE ARCHIVED ON 20:34:26 oct. 27, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:16:55 févr. 24, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
html {
    overflow-y: scroll;
}
.container {
    margin: 0 auto;
    text-align: center;
}
.tt-dropdown-menu, .gist {
    text-align: left;
}
.title {
    font-size: 64px;
    margin: 20px 0 0;
}
.example {
    padding: 30px 0;
}
.demo {
    margin: 50px 0;
    position: relative;
}
.typeahead, .tt-query, .tt-hint {
/*
    border: 2px solid #CCCCCC;
#    border-radius: 8px 8px 8px 8px;
    height: 30px;
    line-height: 30px;
#    outline: medium none;
    padding: 8px 12px;
*/
/*   width: 350px; */
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
#    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    iwidth: 422px;
}
.tt-suggestion {
    line-height: 24px;
    padding: 3px 20px;
    cursor:pointer;
}
.tt-suggestion.tt-cursor {
    font-color : #000000;
    background-color: #EEEEEE;
}
.tt-suggestion p {
    margin: 0;
}

